<div [@routerTransition]>
    <div class="card-header" style="font-size: large;">
        Weather forecast details
    </div>
    <div class="row" >

        <div class="col-lg-1"></div>
    <h3 style="padding-top: 2%;color: blue;">{{this.cityname}}</h3>
    </div>
    <div class="row"  *ngFor="let city of weatherData">

        <div class="col-lg-1"></div>
        <div class="col-lg-10" style="padding-top: 2%;"  >
            <h5>{{city.username}}</h5>
            <label>{{city.Description}}</label>
            <div class="col text-right" style="padding-bottom: 2%;">
                <div class="d-inline-block dropdown" placement="top-right">
                    {{city.Date}}
            </div></div>


          <hr/>

        </div>

        <div class="col-lg-1"></div>

      </div>
      <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10" >
      <app-modal>Comment</app-modal>
      </div>
    </div>
      </div>
