<div [@routerTransition]>

    <!-- <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header> -->
    <div class="row" style="padding-top: 20px;">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header" style="font-size: large;">
                    Listing of weather forecast post by forecaster
                </div>
                <!-- <div class="card-body table-responsive" style="overflow: auto;height: 500px;"> -->
                 <div class="card-body table-responsive"
                 style="overflow: auto;height: 300px;">
                 <div class="col text-right" style="padding-bottom: 2%;">
                    <div class="d-inline-block dropdown" placement="top-right">
                        <select formControlName="weather" title="filter" (change)="selectOption($event.target.value)"  class="form-control">
                            <option>Pune</option>
                            <option>Mumbai</option>
                            <option>Kolkata</option>
                            <option>Nagpur</option>
                            <option>Satara</option>
                        </select>
                    </div>
                </div>
                    <table class="table">
                        <thead>
                            <tr style="font-size: small;">
                                <th>User Name</th>
                                <th>City Name</th>
                                <th>DateTime</th>
                                <th>Comments </th>

                            </tr>
                        </thead>
                        <tbody  *ngFor="let city of weatherData"  >

                            <tr>
                                <td>{{city.username}}</td>
                                <td>{{city.name}}</td>
                                <td>{{city.Date}}</td>
                                <td  [routerLink]="['/weather-details/',city.name]" style="max-width: 518px;cursor: pointer;
                                    display: inline-block;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    line-height: 15px;
                                    position: relative;"><label>{{city.Description}}</label> <p style="color: blue;">Read more...</p></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <hr/>


</div>
