<div [@routerTransition]>

    <div class="row" style="padding-top: 20px;">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header" style="font-size: large;">
                    Listing of daily location data
                </div>
              <div class="card-body table-responsive"
                 style="overflow: auto;height: 300px;">
                    <table class="table">
                        <thead>
                            <tr style="font-size: small;">
                                <th>City Name</th>
                                <th>Latitude</th>
                                <th>Longitude </th>
                                <th>Hourly </th>
                                <th>Daily </th>
                            </tr>
                        </thead>
                        <tbody  *ngFor="let city of pageOfItems"  >
                            <tr>
                                <td>{{city.name}}</td>
                                <td>{{city.lat}}</td>
                                <td>{{city.lon}}</td>
                                <td (click)="onSelect(city,'Hourly')" style="cursor: pointer;color: blue;">Show Data</td>
                                <td (click)="onSelect(city,'Daily')" style="cursor: pointer;color: blue;">Show Data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <hr/>

    <div class="row">
        <div class="col-xl-1 col-lg-6"></div>
        <div class="col-xl-10 col-lg-10" style="background-color: black;height: 100%;">
                    <!-- <div  > -->
                        <ngb-carousel >
                        <ng-template ngbSlide>
                        <ul style=" list-style-type: none; color: white;" *ngFor="let hourly of this.hourlyData" >
                            <li style="float: left;padding-right: 4%;">
                                <table>
                                    <tr>
                                        <th><p >{{ hourly.time }}</p></th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="wob_tci" style="color: black;align-items: center;" alt="Smoke" src="//ssl.gstatic.com/onebox/weather/64/fog.png" id="wob_tci" data-atf="0" data-frt="0">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td ><h3 *ngIf="hourly.temp != undefined">{{hourly.temp  }}</h3>
                                            <p style="font-size: small;" *ngIf="hourly.minTemp != undefined">{{ hourly.minTemp }}</p>
                                        </td>

                                    </tr>
                                </table>
                                </li>
                           </ul>

                        </ng-template>
                        </ngb-carousel>
            <!-- </div> -->

        </div>
        <div class="col-xl-1 col-lg-1"></div>
    </div>

</div>
